body {
  font-family: "Roboto", sans-serif;
}

.navbar-brand h3 {
  font-size: 1.5rem;
  color: #9b9d9e;
}
.display-1 {
color: #373a3c;
-webkit-text-stroke: 2px white;
}

.btn-outline-info{
  background-color: #373a3c;
  border-color: white;
}
.bg-info{
  background-color: #373a3c!important ;
}
#Hero-Section {
  background-image:url(/assets/img/img_yo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 
  width: 100%;
  height: 70rem;
}

/* Mis trabajos */

.image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
